.wrapper{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}
.wrapper>*{
padding: 10px;
margin: 10px;
flex: 1 100%;
border-radius: 10px;
}

.header{
	background: tomato;
	height: 120px;
}
.footer{
	background: lightgreen;
	height: 80px;
}
.main{
	text-align: left;
	background: deepskyblue;
	height: 300px;
	font-size: 24px;
}
.aside1{
	background: gold;
}
.aside2{
background: hotpink;
}
@media all and (min-width:800px){
	.main{
		flex: 3;
	}
	.aside1{
		order: 1;
	}
	.aside2{
		order:2;
			
		}
		.main{
			order: 2;
		}
		.footer{
			order: 4;
		}
	}

@media all and (min-width:600px){
	.aside{
		flex: 1;
	}
}


body {
	background-color: #ffdde2ff;
}

h1 {
	color: blue;
	text-align: center;
}

.founders {
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}

.founders-card {
	position: relative;
	border-radius: 5px;
	padding: 10px;
	height: 250px;
	width: 210px;
	background-color: #008c76ff;
}

.founders-img {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

.founders-img img {
	margin: 0 auto;
	height: 150px;
	width: 200px;
	border-radius: 5px;
}

.more,
.less {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.more button {
	height: 32px;
	width: 67px;
	border-radius: 5px;
	border: none;
	background-color: #ffdde2ff;
	color: blue;
	font-size: 18px;
	
}

.less button {
	height: 32px;
	width: 67px;
	border-radius: 5px;
	border: none;
	background-color: #ffdde2ff;
	color: blue;
	font-size: 18px;
}

#less1,
#less2,
#less3,
#less4 {
	display: none;
}

.founders button:hover {
	background-color: brown;
	color: white;
}

.name {
	text-align: center;
	font-size: 22px;
	color: white;
}

#founder-details1,
#founder-details2,
#founder-details3,
#founder-details4 {
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	display: none;
	color: white;
}

.show {
	display: block;
}

.increase {
	height: 400px;
}

#history {
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	background-color: #008c76ff;
	color: white;
	font-size: 18px;
}

button {
	margin: 50px 50px 50px 50px;
}
.form-group {
	margin: 0 auto;
	width: 100px;
	height: 50px;
}

#form-us {
	margin: 50px 50px 50px 50px;
}

body {
	background-color: #27b376;
}

.row {
	margin: 50px 50px 50px 50px;
}
h1 {
	text-align: center;
}
p {
	text-align: center;
	margin: 50px 50px 50px 50px;
}
#carouselExampleCaptions {
	margin: 30px 30px 30px 30px;
}
.nav-bar {
	margin: 50px 50px 50px 50px;
}

nav > ul {
	text-align: right;
}

nav > ul > li {
	list-style: none;
	display: inline-block;
}

nav ul li a {
	width: 20px;
	color: white;
	padding: 10px;
	font-size: 1.5em;
}

nav .btn-primary {
	text-decoration: none;
	color: white;
	border-radius: 5px;
}

nav .btn-primary:hover {
	text-decoration: none;
	color: white;
	border-radius: 5px;
	background-color: #fc766a;
}
.btn-primary {
	background-color: darkslategray;
	border: none;
}
h1,
h2,
h3 {
	text-align: center;
}

.founders{
	border: 1 px solid black;
}
.about__img{
	display: inline;
	margin: 700px;
}
